body{
    margin:0;
}
.header {
    background-color: #1F2937;
    display: flex;
    padding: 10px 300px;
    justify-content: space-between;

}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.links-right {
    display:flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.hero > p {
    font-size: 18px;
    color: #E5E7EB;
}
.hero-text{
    width: 400px;
    height: 400px;
    outline: 2px solid blue;
}

.hero-image{
    width: 500px;
    height: 350px;
    outline: 2px solid blue;

}